{% extends 'layout.html' %}
{% load static %}


{% block body %}
<style>
    [type=radio]{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    [type=radio] + img {
        cursor: pointer;
        height: 200px;
        border-radius: 10px;
    }

    [type=radio]:checked + img{
        border: 5px solid purple;
        transition: all 0.3s;
    }
</style>
<div class="container">
    <h1 class="text-light">Choose Your Programming Language</h1>
    <hr style="height: 3px; background: linear-gradient(to right, indigo, purple, blue, cyan);">
    <form action="{% url 'code:addNewCode' %}" method="post">
        {% csrf_token %}
        <div class="row form-group">
            <div class="col-md-6">
                <label>
                    <input type="radio" name="language" value="Java"  required>
                    <img src="{% static 'images/Java.png' %}" alt="Java">
                </label>
            </div>
            <div class="col-md-6">
                <label>
                    <input type="radio" name="language" value="C#" required>
                    <img src="{% static 'images/C#.png' %}" alt="C#">
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label>
                    <input type="radio" name="language" value="Python" required>
                    <img src="{% static 'images/Python.png' %}" alt="Python">
                </label>
            </div>
            <div class="col-md-6">
                <label>
                    <input type="radio" name="language" value="JavaScript" required>
                    <img src="{% static 'images/JavaScript.png' %}" alt="JavaScript">
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label>
                    <input type="radio" name="language" value="C" required>
                    <img src="{% static 'images/C.png' %}" alt="C">
                </label>
            </div>
            <div class="col-md-6">
                <label>
                    <input type="radio" name="language" value="C++" required>
                    <img src="{% static 'images/C++.png' %}" alt="C++">
                </label>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                
                <label>
                    <input type="radio" name="language" value="Html/Css" required>
                    <img src="{% static 'images/HtmlCss.png' %}" alt="Html/Css">
                </label>
                
            </div>
        </div>
        <div class="row form-group register">
            <div class="col-md-3">
                Title
            </div>
            <div class="col-md-9">
                <input type="text" class="form-control" name="title" placeholder="Enter Your Code's Title" required>
            </div>
        </div>
        
        
        <div class="row form-group register">
            <div class="col-md-3">
                Code
            </div>
            
            <div class="col-md-9">
                <div class="mb-4 alert">! Add your code inside 'pre' tags!</div>
                <textarea name="code" id="code" required ></textarea>
            </div>
        </div>
        
        <button class="registration-button d-block" type="submit">Add</button>
    </form>
</div>



<script src="{% static 'javascript/javascript.js' %}"></script>



<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>

<script>
    CKEDITOR.addCss('.cke_editable { background-color: black; color: white }');
    CKEDITOR.replace('code', {
        language: "en", 
        theme: "dark",
        startupMode: 'source',
    })
    CKEDITOR.instances['code'].setData("<pre class='prettyprint'>\n\n</pre>")
</script>
{% endblock %}