{% extends 'layout.html' %}


{% block body %}

    <div class="container" style="padding-bottom: 100px;">
        <h1 class="text-light pl-5 pt-5">Update Password</h1>
        <form action="{% url 'userprofile:updatePassword' %}" method="post">
            {% csrf_token %}
            <div class="form-group row mb-3 register">
                <div class="col-md-3">Previous Password</div>
                <input type="password" class="col-md-9 form-control" name="previousPassword" placeholder="Enter Your Previous Password" required >
            </div>
            <div class="form-group row mb-3 register">
                <div class="col-md-3">New Password</div>
                <input type="password" class="col-md-9 form-control" name="newPassword" placeholder="Enter Your New Password" required>
            </div>
            <div class="form-group row mb-3 register">
                <div class="col-md-3">Confirm New Password</div>
                <input type="password" class="col-md-9 form-control" name="confirmNewPassword" placeholder="Confirm Your New Password" required>
            </div>
            <button type="submit" class="d-block registration-button">Change Your Password</button>
        </form>
    </div>

{% endblock %}